<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal"><img src="../assets/images/logo.png">Saprello</h5>

  <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" routerLink="/">Dashboard</a>

    <!-- if admin -->
      <a *ngIf="admin == 1" class="p-2 text-dark" routerLink="/settings" >Settings</a>
        <!-- if user -->
      <!-- <a *ngIf="admin == 0" class="p-2 text-dark" routerLink="/settings">Board Settings</a> -->

        <img src="../assets/images/profiler.png" class="img-circle"  width="20px" height="20px">

      

    <a class="p-2 text-dark" routerLink="/userprofile">Edit Profile</a>

  </nav>
  <a class="btn btn-outline-primary" routerLink="/login">Sign out</a>
</div>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Saprello - Project Management by SAP</h1>
      <h2>Welcome {{name}}</h2>


    <!-- if admin -->
    <h1 *ngIf="admin == 1">ADMIN VIEW</h1>
    <!-- if user -->
     <h1 *ngIf="admin == 0">USER VIEW</h1>

  </div>
</div>
